* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: rgb(241, 246, 248);
}
.navbar {
  background-color: rgb(29, 77, 179);
}
.navbar-brand {
  font-weight: bold;
  font-size: 2rem;
}
.pictures-area {
  width: 80%;
  margin-left: 10%;
}
h2 {
  font-weight: normal;
  text-align: center;
}
.item {
  width: 33%;
  float: left;
  position: relative;
}
.hide {
  display: none;
}
.show {
  display: block;
  animation: show 0.5s ease;
}
@keyframes show {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
img {
  height: 310px;
  width: 100%;
  display: block;
}
.caption {
  position: absolute;
  left: 0px;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  width: 100%;
  color: #ffffff;
  text-align: center;
}
.page-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
}
.page-item {
  cursor: pointer;
}
.disabled {
  border-color: gray;
  pointer-events: none;
}
.foot {
  background-color: rgb(177, 220, 236);
}
